@import "../../index.scss";

.cardCnt {
  background-color: white;
  width: 80%;
  height: 8rem;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 3px 3px 10px 3px rgba(56, 56, 56, 0.361);
  }

  .cardHead {
    color: rgb(169, 169, 169);
    font-size: 0.85rem;
  }
  .cardBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.7rem auto;

    .pCardScore {
      font-size: 1.6rem;
      font-weight: 500;
    }
    .pCardChange {
      font-size: 0.8rem;
      font-weight: 600;
      padding: 0.3rem 1.2rem;
      border-radius: 10px;
      background-color: $theme-color-3;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .arrow {
        background-color: $theme-color-2;
        width: 2px;
        height: 10px;
        position: relative;
        margin-right: 1rem;

        &::before {
          content: "";
          background-color: $theme-color-2;
          width: 1.6px;
          height: 6px;
          position: absolute;
          top: 0rem;
          left: -0.1rem;
          transform: rotateZ(45deg);
        }
        &::after {
          content: "";
          background-color: $theme-color-2;
          width: 1.6px;
          height: 6px;
          position: absolute;
          top: 0rem;
          left: 0.15rem;
          transform: rotateZ(-45deg);
        }
      }
    }
  }

  .cardTarget {
    margin: 1rem 0;
    font-size: 0.85rem;
    font-weight: 500;
  }
}
