.signupForm {
  width: 80%;
  padding: 2rem;
  margin: auto;

  .formHead {
    font-size: 2rem;
    margin: 2rem auto;
    text-align: center;
  }

  .email {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;

    label {
      width: 30%;
    }
  }

  .password {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    label {
      width: 30%;
    }
  }

  .fName {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    label {
      width: 30%;
    }
  }

  .lName {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    label {
      width: 30%;
    }
  }

  .btnCnt {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    margin-bottom: 1rem;
  }
  .signup {
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: all 0.2s ease-in-out;
    margin-top: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
